@use "Banner";

.body-banner {
  @include Banner.setupDisplay;
  div {
    height: 223px;
    display: block;
    max-height: 111px;
    position: relative;
    p {
      font-weight: bold;
      position: absolute;
      left: 5%;
      top: 2%;
      color: white;
      z-index: 2;
      width: 54%;
      min-width: 200px;
      font-size: 24px;
    }
    img {
      z-index: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(50%) brightness(40%);
      border-radius: 15px;
      box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    }
  }
  ul {
    margin: 0;
    padding: 0%;
  }
  li {
    list-style-type: none;
    position: relative;
    padding: 0%;
    @include Banner.setupDisplay;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    p {
      position: absolute;
      bottom: 0%;
      left: 0%;
      font-size: 18px;
      color: white;
      font-weight: bold;
    }
  }
}

@media (min-width: 1240px) {
  .body-banner {
    div {
      max-height: 223px;
    }
  }
}
