@use "Banner";

.btn {
  @include Banner.setupDisplay;
  background-color: Banner.$primary_Color;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn_p {
    padding-left: 10px;
    font-size: 13px;
    color: white;
    font-weight: bold;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    padding-right: 10px;
    transition: transform 0.8s;
    color: white;
  }

  .fa-chevron-up {
    transform: rotate(0deg);
  }

  .fa-chevron-down {
    transform: rotate(0deg);
  }
}


.btn_animation {
  overflow: hidden;
  transition: height 0.9s ease;
  .btn_text {
    background-color: #f6f6f673;
    margin-bottom: 20px;
    margin: 10px auto 40px auto;
  }
}
.div_Apropos_container {
  .btn_text {
    width: 90%;
  }
}




// AproposPageBtn
@media (min-width: 1140px) {
  .div_Apropos_container {
    .btn_text {
      width: 1023px;
    }
    .btn {
      width: 1023px;
      height: 52px;
      p {
        font-size: 24px;
      }
    }
  }
}
