@use "Banner";

.btn {
  @include Banner.setupDisplay;
  background-color: Banner.$primary_Color;
  border-radius: 5px;
  margin: 30px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn_p {
    padding-left: 10px;
    font-size: 13px;
    color: white;
    font-weight: bold;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    padding-right: 10px;
    transition: transform 0.3s;
    color: white;
  }

  .fa-chevron-up {
    transform: rotate(0deg);
  }

  .fa-chevron-down {
    transform: rotate(0deg);
  }
}
