@use "Banner";

.EstateContainer {
  @include Banner.setupDisplay;
  margin-bottom: 20px;
  margin-top: 30px;
  .btn {
    width: 100%;
  }
  h2 {
    color: Banner.$primary_Color;
    font-weight: 400;
  }

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel__image {
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 255px;
  }

  .carousel__chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
  }

  .carousel__chevron--left {
    left: 10px;
  }

  .carousel__chevron--right {
    right: 10px;
  }

  .carousel__chevron:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .ul_tags {
    display: flex;
    padding: 0%;
    align-items: center;
    li {
      padding: 2%;
      width: 84px;
      font-size: 10px;
      background-color: Banner.$primary_Color;
      color: white;
      border-radius: 10px;
      text-align: center;
      list-style-type: none;
      font-weight: bold;
      margin-right: 10px;
    }
  }
  .aside_faStar_host_responsive {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .div_host {
      display: flex;
      align-items: center;
      p {
        color: Banner.$primary_Color;
        width: 93px;
        text-align: right;
        margin: 10px 5px;
      }
      img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }
    }
  }
  .div_faStar {
    margin: 10px 0px;
    color: #e3e3e3;
    .faStarRed {
      color: Banner.$primary_Color;
    }
  }
  .btn_hidden_text {
    list-style: none;
    padding: 10px 0%;
    background-color: #f6f6f673;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .EstateContainer {
    .carousel__image {
      height: 415px;
    }
    .div_responsive {
      display: flex;
      width: 100%;
      height: 170px;
      justify-content: space-between;
      .ul_tags {
        li {
          padding: 5px 5px;
        }
      }
      .aside_faStar_host_responsive {
        margin-top: 20px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: end;
        width: 20%;
        padding-bottom: 28px;
        .div_host {
          width: 167px;
          justify-content: end;
          p {
            font-size: 18px;
            width: 90px;
            padding-right: 6px;
          }
          img {
            width: 64px;
            height: 64px;
          }
        }
        .div_faStar {
          .fa-star {
            margin-right: 10px;
          }
        }
      }
    }
    .btn_flex {
      display: flex;
      justify-content: space-between;
      div {
        width: 48%;

        .btn {
          width: 100%;
        }
      }
    }
  }
}
