header {
  width: 90%;
  margin: 4% auto 2% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 30%;
}
@media (min-width: 1240px) {
  header img {
    max-width: 300px;
  }
}
header a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  margin-left: 26px;
}
@media (min-width: 800px) {
  header a {
    margin-left: 57px;
    font-size: 24px;
  }
}

.nav-link {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 10px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
  position: absolute;
  bottom: 7px;
  left: 0;
}

.nav-link.active::after {
  width: 100%;
}

.EstateContainer {
  width: 90%;
  margin: 4% auto 2% auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
.EstateContainer .btn {
  width: 100%;
}
.EstateContainer h2 {
  color: #FF6060;
  font-weight: 400;
}
.EstateContainer .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.EstateContainer .carousel__image {
  width: 100%;
  display: block;
  border-radius: 10px;
  height: 255px;
}
.EstateContainer .carousel__chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}
.EstateContainer .carousel__chevron--left {
  left: 10px;
}
.EstateContainer .carousel__chevron--right {
  right: 10px;
}
.EstateContainer .carousel__chevron:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.EstateContainer .ul_tags {
  display: flex;
  padding: 0%;
  align-items: center;
}
.EstateContainer .ul_tags li {
  padding: 2%;
  width: 84px;
  font-size: 10px;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  margin-right: 10px;
}
.EstateContainer .aside_faStar_host_responsive {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.EstateContainer .aside_faStar_host_responsive .div_host {
  display: flex;
  align-items: center;
}
.EstateContainer .aside_faStar_host_responsive .div_host p {
  color: #FF6060;
  width: 93px;
  text-align: right;
  margin: 10px 5px;
}
.EstateContainer .aside_faStar_host_responsive .div_host img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.EstateContainer .div_faStar {
  margin: 10px 0px;
  color: #e3e3e3;
}
.EstateContainer .div_faStar .faStarRed {
  color: #FF6060;
}
.EstateContainer .btn_hidden_text {
  list-style: none;
  padding: 10px 0%;
  background-color: rgba(246, 246, 246, 0.4509803922);
  margin-bottom: 20px;
  margin-top: 0px;
  width: 100%;
}

@media (min-width: 1000px) {
  .EstateContainer .carousel__image {
    height: 415px;
  }
  .EstateContainer .div_responsive {
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: space-between;
  }
  .EstateContainer .div_responsive .ul_tags li {
    padding: 5px 5px;
  }
  .EstateContainer .div_responsive .aside_faStar_host_responsive {
    margin-top: 20px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: end;
    width: 20%;
    padding-bottom: 28px;
  }
  .EstateContainer .div_responsive .aside_faStar_host_responsive .div_host {
    width: 167px;
    justify-content: end;
  }
  .EstateContainer .div_responsive .aside_faStar_host_responsive .div_host p {
    font-size: 18px;
    width: 90px;
    padding-right: 6px;
  }
  .EstateContainer .div_responsive .aside_faStar_host_responsive .div_host img {
    width: 64px;
    height: 64px;
  }
  .EstateContainer .div_responsive .aside_faStar_host_responsive .div_faStar .fa-star {
    margin-right: 10px;
  }
  .EstateContainer .btn_flex {
    display: flex;
    justify-content: space-between;
  }
  .EstateContainer .btn_flex div {
    width: 48%;
  }
  .EstateContainer .btn_flex div .btn {
    width: 100%;
  }
}/*# sourceMappingURL=estate.css.map */